{
    "globals": {
        "_": true,
        "it": true,
        "process": true,
        "require": true,
        "module": true,
        "__dirname": true,
        "autoprefixer": true,
        "marked": true,
        "KELSEY": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "babel"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "arrowFunctions": true,
            "blockBindings": true,
            "classes": true,
            "defaultParams": true,
            "destructuring": true,
            "forOf": true,
            "objectLiteralComputedProperties": true,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "restParams": true,
            "spread": true,
            "superInFunctions": true,
            "templateStrings": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "react/jsx-uses-vars": 2,
        "comma-dangle": ["error", "only-multiline"],
        "indent": ["error", 2, {"SwitchCase": 1}],
        "quotes": ["error", "single"],
        "linebreak-style": ["off", "unix"],
        "semi": ["error","always"],
        "valid-jsdoc": "error",
        "curly": ["error", "multi-line"],
        "dot-notation": "error",
        "eqeqeq": ["error", "allow-null"],
        "no-alert": "error",
        "no-caller": "error",
        "no-labels": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-implied-eval": "error",
        "no-loop-func": "error",
        "no-multi-spaces": "error",
        "no-native-reassign": "error",
        "no-new-wrappers": "error",
        "no-with": "error",
        "radix": "error",
        "wrap-iife": ["error", "any"],
        "no-shadow": "error",
        "array-bracket-spacing": ["error", "never"],
        "block-spacing": ["error", "always"],
        "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
        "camelcase": "error",
        "comma-spacing": ["error", {"before": false, "after": true}],
        "eol-last": "error",
        "jsx-quotes": ["error", "prefer-double"],
        "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
        "new-cap": ["error", {"newIsCap": true, "capIsNew": false}],
        "no-trailing-spaces": "error",
        "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
        "keyword-spacing": ["error", {"after": true, "before": true, "overrides": {"catch": {"after": false}}}],
        "space-infix-ops": "error",
        "space-unary-ops": ["error", {"words": true, "nonwords": false}],
        "wrap-regex": "error",
        "arrow-spacing": ["error", {"before": true, "after": true}],
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-this-before-super": "error",
        "no-unused-vars": ["error", {"vars": "all", "args": "after-used", "varsIgnorePattern": "[rR]eact"}],
        "no-multiple-empty-lines": "off",
        "one-var": ["error", "never"],
        "operator-linebreak": ["error", "after"],
        "no-empty": "error",
        "max-len": ["error", 110],
        "max-lines": ["error", 500],
        "vars-on-top": "error"
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": "eslint:recommended"
}
