@import '../variables';

main {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    .rust {
        color: $rust;
    }

    h1,
    h2 {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        text-shadow: 4px 4px 4px $dark-grey;
        color: $white;

        span {
            display: inline-block;
        }
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 40px;
    }
}
